{% extends "home/base.html" %}
{% load static %}
{% block content %}



<div class='d-flex flex-row .flex-row mx-auto'>
    <div class="content">
        <div class="col-lg-4 col-md-6 mx-auto">

            <div class="card" data-image="profile-image">
                <div class="card-header" style="height: 400px;">
                    <div class="card-image" style="height: 100%;">

                        <img style="height: 100%;" class="img rounded" src="{{ product.image.url }}">

                    </div>
                </div>


                <div class="card-body pt-0">

                    <p class="display-  text-danger">Rs. {{product.price}}</p>

                </div>
            </div>


        </div>
        <hr>
        <div class='container'>
            <h5 class="display-5 mb-0">{{product.name}} </h5>
            <div class="table-responsive">
                <ul class="list-unstyled ">

                    <li class="py-1">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-1">{{product.description}}</h6>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>
<hr>


<div class="container d-flex flex-row .flex-row mx-auto">
    <button type="button" class="btn btn-success">{{positive_comments}}</button>
    <button type="button" class="btn btn-danger">{{negative_comments}}</button>
     
</div>

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                {% for comment in comments %}
                <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt=""
                        class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4> <span>- 20 October, 2018</span> <br>
                    <p>{{comment.comment}}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

{% endblock %}
<!--   Core JS Files   -->
{% block js %}
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script>

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });




</script>

{% endblock %}