{% extends "home/base.html" %}
{% load static %}
{% block content %}



<div class='d-flex flex-row .flex-row mx-auto'>
    <div class="content">
        <div class="col-lg-4 col-md-6 mx-auto">

            <div class="card" data-image="profile-image">
                <div class="card-header" style="height: 400px;">
                    <div class="card-image" style="height: 100%;">

                        <img style="height: 100%;" class="img rounded" src="{{ product.image.url }}">

                    </div>
                </div>


                <div class="card-body pt-0">

                    <p class="display-  text-danger">Rs. {{product.price}}</p>

                </div>
            </div>


        </div>
        <hr>
        <div class='container'>
            <h5 class="display-5 mb-0">{{product.name}} </h5>
            <div class="table-responsive">
                <ul class="list-unstyled ">

                    <li class="py-1">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-1">{{product.description}}</h6>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

    </div>
    
</div>
<div class=>
    <div class="rating rating2">
	<a href="#5" title="Give 5 stars" data-value="5">★</a>
	<a href="#4" title="Give 4 stars" data-value="4">★</a>
	<a href="#3" title="Give 3 stars" data-value="3">★</a>
	<a href="#2" title="Give 2 stars" data-value="2">★</a>
	<a href="#1" title="Give 1 star" data-value="1">★</a>
    </div>
</div>
<hr>


<div class="container d-flex flex-row .flex-row mx-auto">
    <button type="button" class="btn btn-success"><h5>{{positive_comments}}</h5></button>
    <button type="button" class="btn btn-danger"><h5>{{negative_comments}}</h5></button>

</div>

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                {% for comment in comments %}
                <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt=""
                        class="rounded-circle" width="40" height="40">
                    <h4>{{user}}</h4> <span>- 20 October, 2018</span> <br>
                    <p>{{comment.comment}}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">

            <div class="  ">
                 
                <form action={% url "product_detail" %}?product={{product.id}}  method="post">
                    {% csrf_token %}
                    <input placeholder='Enter your reviews here' type="text" name="comment" style="width: 500px; height: 50px;">
                    <button type="submit" class='btn btn-light'>Comment</button>
                </form>
            </div>

        </div>
    </div>
</section>

{% endblock %}
<!--   Core JS Files   -->
{% block js %}
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script>

    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });




</script>

<script>
$(".rating a").on('click', function(e){
	let value = $(this).data('value');
   $.ajax({
      url: "{% url 'product_detail' %}",
      type: 'GET',
      data: {'rating': value, 'product': {{product.id}},},
      success: function (d){
       // some processing
      }
   })
});
</script>

{% endblock %}